<%= form_for(@job, html: { class: 'form-horizontal' }) do |f| %>
  <% if @job.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h3>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.label :premium, class: 'checkbox' do %>
        <%= f.check_box :premium, rows: 10 %> Premium
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 10 %>
    </div>
  </div>
  <div class="control-group controls">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>