<h3>
  <%= job_title job %>
</h3>

<%= simple_format job.description %>

<p>
  <%= pluralize(job.comments.size, "comments" )%> |
  <%= link_to 'Show', job %> | 
  <%= link_to 'Edit', edit_job_path(job) %> | 
  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

</br>
