<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<%= render @jobs %>
<br>


<%= link_to 'New Job', new_job_path %> </br>
<%= link_to "hello world", controller: "hello", action: "world" %> </br>
<%= link_to "Premium jobs", root_path %>

