 <h1><%= job_title @job %></h1>

<%= simple_format @job.description %>

<p>
  <%= pluralize(@job.comments.size, t("comments.count")) %> |
  <% if current_company == @job.company %>
  	<%= link_to t("links.edit"), edit_job_path(@job) %> |
  <% end %>
  <%= link_to t("links.back"), jobs_path %>
</p>

<h2><%= t(".new_comment") %></h2>
<%= render "comments/form" %>

<h2><%= t(".comments") %></h2>
<div id="comments">
	<%= render @job.comments %>
</div>