 <h1><%= job_title @job %></h1>

<%= simple_format @job.description %>

<p>
  <%= pluralize(@job.comments.size, "comment") %> |
  <% if current_company == @job.company %>
  	<%= link_to 'Edit', edit_job_path(@job) %> |
  <% end %>
  <%= link_to 'Back', jobs_path %>
</p>

<h2>Send a new comment</h2>
<%= render "comments/form" %>

<h2>Comments</h2>
<div id="comments">
	<%= render @job.comments %>
</div>