<h1>Hello <%= @company.name %>,</h1>

<p>You've got a new comment about your job <%=  @job.title %> job:</P>

<p>
<em>Name:</em> <%=  @comment.name %>
<em>Comment:</em>  <%=  @comment.body %>
</P>

<p>You can see all comments for this job in <%= link_to @job.title,  job_url(@job) %>.</P>

<p>Thank you! </P>