<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>JobBoard</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/" title="Job Board">Job Board</a>

        <ul class="nav">
          <li><%= link_to "English", locale: "en" %></li>
          <li><%= link_to "Portugues", locale: "pt-BR" %></li>
        </ul> 

        <ul id="app-menu" class="nav pull-right">
          <li><%= link_to t("menu.premium_jobs"), root_path %></li>
          <li><%= link_to t("menu.all_jobs"), jobs_path %></li>
          <li><%= link_to t("menu.hello_world"), hello_world_path %></li>

          <% if current_company %>
            <li><%= link_to t("menu.new_job"), new_job_path %></li>
            <li><a>Logged as <%= current_company.name %></a></li>
          <% else %>  
            <li><%= link_to t("menu.new_company"), new_company_path %></li>
            <li><%= link_to t("menu.login"), companies_login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-error"><%= alert %></p><% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
